<h3> Comment Here </h3>
<table>
<form action="/comments/<%= @property.id %>" method="post">
		<td>
			<textarea rows="10" cols="80" name="comment"></textarea>
		</td>
	</tr>
	<tr>
		<td><input type="submit" value="Comment"></td>
	</tr>
</form>
</table>