<h1>All Property</h1>

<ul>
	<% @property.each do |property| %>
		<li><a href="/properties/<%= property.id %>"><%= property.title %></a></li>
	<% end %>
</ul>

<a href="/users/<%= @user.id %>"><button>Back to your profile</button></a>